!!! 5
%html{lang: 'en'}
  %head
    %title Yale Service of Gratitude
    = stylesheet_link_tag 'all', media: 'all'
    = javascript_include_tag 'all'
    %link{rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'}
    %link{rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Roboto:300'}
  %body
    = partial 'header'
    = yield
    = partial 'footer'
